/* Sidebar */
.open > img{
    width: 20px;
    height: 20px;
  }

  .titre>h3{
    color: #fff;
  }
  
  .menu{
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
  
  .menu_item{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .menu_item_active{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .icon{
    width: 27px;
    height: 27px;
  }

  .icon_active{
    width: 27px;
    height: 27px;
    filter: invert(52%) sepia(11%) saturate(2113%) hue-rotate(95deg) brightness(97%) contrast(104%);
  }
  
  .title_menu{
    text-decoration: none;
    color: #fff;
    font-size: .85em;
    padding-bottom: 2.5px;
  }

  .title_menu_active{
    text-decoration: none;
    color: #2ba062;
    font-size: .85em;
    padding-bottom: 2.5px;
    font-weight: bold;
  }
  
  .menu_item:hover{
    border-left: 5px solid #c7e1d2;
    border-radius: 5px;
  }
  
  /* .menu_item:focus{
    background-color: #c7e1d2;
    border-radius: 5px;
    border-left:5px solid #2ba062;
  } */